<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="userVo" type="kr.or.yhs.user.model.UserVo" />
		<typeAlias alias="pageVo" type="kr.or.yhs.paging.model.PageVo" />
		<typeAlias alias="boardVo" type="kr.or.yhs.board.model.BoardVo" />
		<typeAlias alias="fileVo" type="kr.or.yhs.board.model.FileVo" />
		<typeAlias alias="postVo" type="kr.or.yhs.board.model.PostVo" />
		<typeAlias alias="replyVo" type="kr.or.yhs.board.model.ReplyVo" />
	</typeAliases>

	<mappers>
		<mapper resource="kr/or/yhs/config/mybatis/mapper/user.xml" />
		<mapper resource="kr/or/yhs/config/mybatis/mapper/board.xml" />
		<mapper resource="kr/or/yhs/config/mybatis/mapper/post.xml" />
		<mapper resource="kr/or/yhs/config/mybatis/mapper/reply.xml" />
		<mapper resource="kr/or/yhs/config/mybatis/mapper/file.xml" />
	</mappers>
</configuration>